<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="metro4:init" content="true">
    <meta name="metro4:locale" content="de-DE">
    <meta name="metro4:week_start" content="1">

    <title>@ViewData["Title"] - Rephase Web Client</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <environment include="Development">

        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/utils.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dropzone.css" />

        <script src="~/lib/dropzone/dropzone.js"></script>
        <script src="~/js/editor.js"></script>
        <script src="~/js/content_tree.js"></script>
        <script src="~/js/content_manager.js"></script>
        <script src="~/js/toast_manager.js"></script>
        <script src="~/js/items_display.js"></script>
        <script src="~/js/dialog_manager.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/utils.css" />
        
        <script src="~/js/editor.js" asp-append-version="true"></script>
        <script src="~/js/content_tree.js" asp-append-version="true"></script>
        <script src="~/js/content_manager.js" asp-append-version="true"></script>
        <script src="~/js/toast_manager.js" asp-append-version="true"></script>
        <script src="~/js/items_display.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" asp-append-version="true"></script>
    </environment>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 marg-0 pad-0 ">
        <div class="container">
            <a class="navbar-brand font-size-larger" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/icon.png" width="30" height="30" alt="">
                Rephase Content Manager
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container marg-0">
    <partial name="_CookieConsentPartial"/>
    <main role="main" class="pb-3">
        <partial name="AddNewItemsModal"/>
     
        @RenderBody()
    </main>
</div>
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
