/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex-grow: 1;
}

.max-w-100 {
    max-width: 100px;
}

.max-h-100 {
    max-height: 100px;
}


.wordwrap-break {
    word-wrap: break-word;
}

/* Override metro style*/
.list-group-item-action {
    text-align: inherit;
    height: 100px;
    width: 100px !important;
    max-height: 100px;
    max-width: 100px !important;
    margin: 10px;
    cursor: pointer;
    background-color: #f5f6f7;
    border: 1px solid #dadbdc !important;
    text-align: center;
}

.ribbon-menu .tabs-holder {
    background-color: #f5f6f7;
    border-top: 1px solid #dadbdc !important;
}

#horizontal-titles {
    height: calc(100vh);
    width: 20px;
    background-color: lightgrey;
}

.itemTitle {
    padding-left: 15px;
}

.font-size-small {
    font-size: small
}

.navbar {
    background-color: #f5f6f7 !important;
}

.container {
    max-width: unset !important;
}

.body-row {
    height: calc(100vh - 113px);
}

.parent-row {
    height: 150px;
}

.child-row {
    overflow-x: auto;
    /*height: calc(100vh - 200px);*/
}

.width-100 {
    width: 100%;
}

.img-contraints {
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
}
